#############################
##
## IMPORT
##
#############################

##For S4 usage
import("methods")
import("GenomicRanges")
import("IRanges")

##Package used in HiTC
importFrom("graphics", "plot", "image", "abline", "axis", "text")
importFrom("grDevices", "col2rgb")
importMethodsFrom("Biostrings", "detail")
importMethodsFrom("rtracklayer", "import", "export")


#############################
##
## EXPORT
##
#############################
##Export functions and generics
export(
       "binningC",
       "CQC", "intervalsDist",
       "discretize",
       "exportC", "export.my5C", "importC", "import.my5C",
       "extractRegion",
       "getExpectedCounts",
       "HTCexp","HTClist",
       "removeIntervals", "setIntervalScale")

##Export classes
exportClasses("HTCexp", "HTClist")

##Export Methods
exportMethods(
              "as.list",
              "detail","show",
              "intdata", "intdata<-",
              "isBinned", "isIntraChrom",
              "y_intervals", "y_intervals<-", "x_intervals", "x_intervals<-", "xy_intervals",
              "id",
              "mapC","plot",
              "normPerReads", "normPerExpected", "normPerTrans",
              "range", "ranges",
              "seqlevels",
              "substract", "divide"
)

